body {
    font-family: cursive;
    background-color: #f2f2f2;
    text-align: center;
    background-image: url(2.avif);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7d3d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e44d26;
}

.tree {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ef9f27;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}



#wishMessage {
    color: #e44d26;
    font-weight: bold;
}

.hidden {
    display: none;
}
